*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222479;
}

#quiz{
    background: #FBFBFE;
    width: 40%;
    border-radius: 8px;
    padding: 24px 32px;
    color: #06070C;
}

.logo{
    justify-content: center;
    display: flex;
}

.quiz-header{
    margin: 12px 0;
    display: flex;
    justify-content: space-between;
}

button{
    padding: 2px 64px;
    border-radius: 30px;
    cursor: pointer;
    color: #FBFBFE;
    border: 12px solid #222479 ;
    background: #222479;
    font-weight: 900;
    margin-top: 24px;
}

#score{
    text-align: center;
    margin: 32px 0;
}

.quiz-repeat{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-repeat a{
    text-decoration: none;
    padding: 2px 32px;
    border-radius: 30px;
    cursor: pointer;
    color: #FBFBFE;
    border: 12px solid #222479 ;
    background: #222479;
    font-weight: 900;
}


/* media query */
@media screen and (max-width: 429px){
    #quiz{
        
        width: 70%;
        padding: 20px;
        font-size: 12px;
    }
}